body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  background: linear-gradient(135deg, #4bc0c8, #c779d0, #feac5e);
}
.box {
  height: 80vh;
  width: 70%;
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  margin-top: 10vh;
  padding: 30px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  color: #333;
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 0.034em;
  font-family: "思源黑体";
  overflow-y: scroll;
}
.box::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
